@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Rubik:wght@300;400;500&display=swap");
:root {
  --Blue: hsl(246, 80%, 60%);

  --LightRed1: hsl(15, 100%, 70%);
  --SoftBlue: hsl(195, 74%, 62%);
  --LightRed2: hsl(348, 100%, 68%);
  --LimeGreen: hsl(145, 58%, 55%);
  --Violet: hsl(264, 64%, 52%);
  --SoftOrange: hsl(43, 84%, 65%);

  --VeryDarkBlue: hsl(226, 43%, 10%);
  --DarkBlue: hsl(235, 46%, 20%);
  --DesaturatedBlue: hsl(235, 45%, 61%);
  --PaleBlue: hsl(236, 100%, 87%);
}

body {
  background-color: var(--VeryDarkBlue);
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik";
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas:
    "dashboard card-1 card-2 card-3"
    "dashboard card-4 card-5 card-6";
  grid-gap: 20px;
}

.dashboard {
  grid-area: dashboard;
  width: 250px;
  height: 520px;
  background-color: var(--DarkBlue);
  border-radius: 10px;
}

.card {
  position: relative;
  z-index: 0;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  display: flex;
}

.card-1 {
  grid-area: card-1;
  background-color: var(--LightRed1);
}
.card-2 {
  grid-area: card-2;
  background-color: var(--SoftBlue);
}
.card-3 {
  grid-area: card-3;
  background-color: var(--LightRed2);
}
.card-4 {
  grid-area: card-4;
  background-color: var(--LimeGreen);
}
.card-5 {
  grid-area: card-5;
  background-color: var(--Violet);
}
.card-6 {
  grid-area: card-6;
  background-color: var(--SoftOrange);
}

.info {
  z-index: 20;
  width: 100%;
  height: 140px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--DarkBlue);
  align-self: flex-end;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition-duration: 0.2s;
}
.info:hover {
  filter: brightness(120%);
}
.title {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time {
  font-size: 4rem;
}
.last {
  font-size: 1.2rem;
  color: var(--PaleBlue);
}

.profile {
  height: 300px;
  background-color: var(--Blue);
  border-radius: 10px;
  padding: 30px;
  color: white;
}
.image {
  height: 30%;
  margin-bottom: 30px;
}
.photo {
  width: 80px;
  border: 2px solid white;
  border-radius: 50%;
}
.report {
  font-size: 1rem;
  color: var(--PaleBlue);
}
.name {
  font-size: 3rem;
}
.options {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.option {
  font-size: 1.15rem;
  padding-left: 30px;
  color: var(--DesaturatedBlue);
  transition-duration: 0.2s;
  cursor: pointer;
}
.option:hover {
  color: white;
}

.chosen {
  color: white;
}

.svg {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 30px;
}

.dots {
  cursor: pointer;
  height: 5px;
  transition-duration: 0.2s;
}
.dots:hover {
  filter: brightness(200%);
}

@media (max-width: 400px) {
  body {
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .dashboard {
    width: 90%;
    height: auto;
    background-color: var(--DarkBlue);
    border-radius: 10px;
  }

  .card {
    width: 90%;
    height: 180px;
    display: flex;
  }

  .card-1 {
    grid-area: card-1;
    background-color: var(--LightRed1);
  }
  .card-2 {
    grid-area: card-2;
    background-color: var(--SoftBlue);
  }
  .card-3 {
    grid-area: card-3;
    background-color: var(--LightRed2);
  }
  .card-4 {
    grid-area: card-4;
    background-color: var(--LimeGreen);
  }
  .card-5 {
    grid-area: card-5;
    background-color: var(--Violet);
  }
  .card-6 {
    grid-area: card-6;
    background-color: var(--SoftOrange);
  }

  .info {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 70%;
    grid-template-areas:
      "title title"
      "time last";
    align-items: center;
  }

  .title {
    grid-area: title;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
  }
  .time {
    display: flex;
    align-items: center;
    grid-area: time;
    font-size: 3rem;
  }
  .last {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-area: last;
    font-size: 1rem;
    color: var(--PaleBlue);
  }
  .dots {
    height: 25%;
    align-self: center;
  }

  .profile {
    padding-left: 40px;
    padding-right: 40px;
    height: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 100px 200px;
    grid-template-rows: 40px 60px;
    grid-template-areas:
      "img report"
      "img name";
  }
  .image {
    height: 100px;
    margin-bottom: 30px;
    grid-area: img;
  }
  .photo {
    width: 80px;
    border-radius: 50%;
  }
  .report {
    font-size: 1rem;
    color: var(--PaleBlue);
    grid-area: report;
    align-self: flex-end;
    margin-bottom: 5px;
  }
  .name {
    font-size: 1.5rem;
    width: 200px;
    grid-area: name;
  }
  .options {
    height: initial;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: row;
  }
  .option {
    font-size: 1.25rem;
    padding-left: 20px;
    padding-right: 20px;
  }
}
