@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Rubik:wght@300;400;500&display=swap");
:root {
  --Blue: hsl(246, 80%, 60%);

  --LightRed1: hsl(15, 100%, 70%);
  --SoftBlue: hsl(195, 74%, 62%);
  --LightRed2: hsl(348, 100%, 68%);
  --LimeGreen: hsl(145, 58%, 55%);
  --Violet: hsl(264, 64%, 52%);
  --SoftOrange: hsl(43, 84%, 65%);

  --VeryDarkBlue: hsl(226, 43%, 10%);
  --DarkBlue: hsl(235, 46%, 20%);
  --DesaturatedBlue: hsl(235, 45%, 61%);
  --PaleBlue: hsl(236, 100%, 87%);
}

body {
  background-color: var(--VeryDarkBlue);
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik";
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas:
    "dashboard card-1 card-2 card-3"
    "dashboard card-4 card-5 card-6";
  grid-gap: 20px;
}

.dashboard {
  grid-area: dashboard;
  width: 250px;
  height: 520px;
  background-color: var(--DarkBlue);
  border-radius: 10px;
}

.card {
  position: relative;
  z-index: 0;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  display: flex;
}

.card-1 {
  grid-area: card-1;
  background-color: var(--LightRed1);
}
.card-2 {
  grid-area: card-2;
  background-color: var(--SoftBlue);
}
.card-3 {
  grid-area: card-3;
  background-color: var(--LightRed2);
}
.card-4 {
  grid-area: card-4;
  background-color: var(--LimeGreen);
}
.card-5 {
  grid-area: card-5;
  background-color: var(--Violet);
}
.card-6 {
  grid-area: card-6;
  background-color: var(--SoftOrange);
}

.info {
  z-index: 20;
  width: 100%;
  height: 140px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--DarkBlue);
  align-self: flex-end;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.time {
  font-size: 4rem;
}
.last {
  font-size: 1.2rem;
  color: var(--PaleBlue);
}

.profile {
  height: 300px;
  background-color: var(--Blue);
  border-radius: 10px;
  padding: 30px;
  color: white;
}
.image {
  height: 30%;
  margin-bottom: 30px;
}
.photo {
  width: 80px;
  border: 2px solid white;
  border-radius: 50%;
}
.report {
  font-size: 1rem;
  color: var(--PaleBlue);
}
.name {
  font-size: 3rem;
}
.options {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.option {
  font-size: 1.15rem;
  padding-left: 30px;
  color: var(--DesaturatedBlue);
  transition-duration: 0.2s;
  cursor: pointer;
}
.option:hover {
  color: white;
}

.svg {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 30px;
}

.dots {
  cursor: pointer;
  transition-duration: 0.2s;
}
.dots:hover {
  filter: brightness(150%);
}
